body {
  background-color: #f2f7ff;
  width: 300px;
  height: 400px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-view,
.card-view * {
  box-sizing: border-box;
}

.card-view {
  background: #f2f7ff;
  max-width: 300px;
  height: 400px;
  padding-top: 24px;
  overflow: hidden;
}

.card-view .views {
  display: flex;
  width: 300%;
  transition: all 400ms ease;
  transform: translateX(-300px);
}

.card-view .dots {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.card-view .dot {
  width: 10px;
  height: 10px;
  background: #dbdbdb;
  border-radius: 50%;
}

.card-view .dot.active {
  background: #222;
}

.card-view .navigation-btns {
  z-index: 50;
  position: absolute;
  display: flex;
  top: 0px;
}

.left,
.right{
  display: grid;
  place-items: center;
  position: relative;
}

.left-arrow {
  border: solid #150e49;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 0px;
  width: 20px;
  height: 20px;
  left: 10px;
  transform: rotate(135deg);
  margin: 0px;
  position: absolute;
}


.right-arrow {
  border: solid #150e49;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 0px;
  width: 20px;
  height: 20px;
  right: -234px;
  transform: rotate(-45deg);
  margin: 0px;
  position: absolute;
}

.card-view .left-btn {
  opacity: 0%;
  width: 28px;
  height: 400px;
  position: relative;
  left: 0px;
  border: #f2f7ff;
}

.card-view .right-btn {
  opacity: 0%;
  width: 28px;
  height: 400px;
  right: -244px;
  position: relative;
  border: #f2f7ff;
}

.left *,
.right *{
  cursor: pointer;
}

.left:hover *,
.right:hover *{
  border-width: 0 4px 4px 0;
  transition: 200ms ease;
}

.timer-view .main-circle {
  width: 230px;
  height: 230px;
  background-color: #cadcff;
  border-radius: 100%;
  position: relative;
  margin: 10px;
  display: grid;
  place-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.timer-view .inner-circle {
  width: 190px;
  height: 190px;
  background-color: #f2f7ff;
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}


.timer-view .progress-display {
  width: 250px;
  height: 250px;
  margin: 10px;
  position: relative;
  top: 15px;
  margin: 0px 25px;
  background-color: #f2f7ff;
}

.timer-view .timer {
  color: #150e49;
  text-align: center;
  font: bold 50px Verdana, Geneva, sans-serif;
  word-spacing: 2px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer-view button{
  background-color: #cadcff;
  width: 110px;
  height: 45px;
  display: inline-block;
  margin: 0px 10px;
  border-radius: 25px;
  color: #150e49;
  text-align: center;
  font: sans-serif;
  border: 0px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.timer-view button:hover {
  background-color: #4d5bf9;
	cursor: pointer;
}

.timer-view .pause-btn {
    display: none;
}

.timer-view .btn-container {
  text-align: center;
  width: 300px;
  bottom: -30px;
  position: relative;
}

.view .weekly-view *,
.view .hourly-view * {
    background-color: #f2f7ff;
	display: border-box;
	width: 300px;
}

.hourly-view .hour-container {
    position: absolute;
    top: 35px;
	width: 300px;
	height: 330px;
	overflow: scroll;
}

.hourly-view .hour {
	background-color: #f2f7ff;
	width: 300px;
	height: 60px;
	margin: 0px;
	border-top: solid 2px #dfe3eb;
	padding: 5px;
	color: #5d6066;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
}

.hourly-view .session {
    background: #cadcff;
    width: 230px;
    left: 62px;
    top: -20px;
    position: absolute;
    border-radius: 5px;
    font: bold Verdana, Geneva, sans-serif;
    color: #150e49;
    margin: 0px;
    box-shadow:3px 3px 8px -1px rgba(0, 0, 0, 0.15),
               -3px -3px 8px -1px rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.hourly-view .date,
.weekly-view .week {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

.weekly-view .chart-container {
    width: 300px;
    margin: 10px 0;
    position: absolute;
    top: 20px;
}

.chart-container p{
    margin: 0 0 10px;
    padding-left: 2px;
}

.chart-container p:nth-of-type(2n) {
    position: relative;
    width: 60px;
    float: right;
    top: -24px;
    text-align: right;
    padding-right: 5px;
}

.chart-container .day {
    background: #cadcff;
    margin: -8px 0 15px;
    padding: 0px;
    border-radius: 5px;
}

.chart-container .day-data {
    background: #4d5bf9;
    height: 12px;
    border-radius: 5px;
    width: 0%;
}
